.header {
  display: flex;
  padding: 1rem 0 1.5rem;
}

.title {
  margin: 0;
}

.title-link {
  color: var(--color);
  font-size: 3rem;
  text-decoration: none;
}

.nav {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  height: 100%;
}

.nav-item {
  display: flex;
  margin-bottom: 0;
}

.nav-item-link {
  display: flex;
  align-items: center;
  color: #999;
  font-size: 1.1rem;
  margin-right: 1.3rem;
  text-decoration: none;
  transition: color 250ms;

  &:hover {
    color: #666;
  }
}

.active-nav-item {
  color: #333;
}

.link {
  color: #999;
}
