.header-container {
  border-bottom: #bb315f solid 1px;
  margin-bottom: 1.5rem;
}

.header-content {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex-grow: 1;
  padding: 1rem;
}

.content {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.footer-content {
  // max-width: var(--content-max-width);
}
